#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: .5rem;
  text-align: center;
  
  
}

#loginPage {
  color: rgb(255, 255, 255);
}

.body {
  background-color: aquamarine;
  max-width: 100vh;
  max-height: 100vh;
}

.smoke {
  color: black;
}

.logo {
  height: 250px;
  width: 250px;
}

.popup {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 100px;
  background-color: rgb(253, 253, 253);
  border-radius: 10px;
}

.popup-inner {
  background-color: rgb(251, 251, 251);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: auto;
  max-width: 300px;
}

.inv-button-div {
  display: flex;
  flex-direction: row;
  margin: 5px;
  
}

.update-inv-button-div {
  margin: 5px;

}

#loginTitle {
  font-family: 'Lilita';
  font-weight: bold;
  margin: 0;
  font-size: 60px;
  text-decoration: underline;
}

#loginDesc {
  font-family: 'Lilita';
  margin: 0;
  font-size: 20px;
  font-stretch:extra-expanded;
}

#loginText {
  margin-top: 10%;
  margin-bottom: 3%;
  text-align: center;
}

.createUser {
  display: flex;
  justify-content: left;
}
@font-face {
  font-family: 'Lilita';
  src: url('/src/assets/LilitaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.form-container {
  width: 90%;
  max-width: 400px;
  margin: 1rem auto;
  padding: 2rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  
}

.form-title {
  font-family: 'Lilita', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 0.1rem;
  color: #3a7af1;
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
  
}

.form-group label {
  display: block;
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.form-input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-input:focus {
  outline: none;
  border-color: #0044cc;
}

.form-button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  color: #0044cc; 
  background-color: white;
  border: 2px solid #0044cc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease-in-out;
}

.form-button:hover {
  background-color: #0044cc;
  color: white;
  box-shadow: 0 8px 12px rgba(0, 0, 0, .015), 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-button {
  width: 30%;
  padding: 0.75rem;
  font-size: 1rem;
  color: #0044cc; 
  background-color: white;
  border: 2px solid #0044cc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease-in-out;
}

.login-button:hover {
  background-color: #0044cc;
  color: white;
  box-shadow: 0 8px 12px rgba(0, 0, 0, .015), 0 4px 6px rgba(0, 0, 0, 0.1);
}

.spa-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.hamburger-menu {
  font-size: 2rem;
  cursor: pointer;
  display: block;
}

.site-title {
  font-family: 'Lilita', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin: 0;
  margin-right: 1rem;
}

.header-logo {
  height: 60px; 
}

.nav-list {
  
  display: none; 
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 60px;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  width: 200px;
  color: #0044cc;
  z-index: 1000;
}

.nav-list.open {
  display: flex;
  margin-right: 19px;
}

.nav-button {
  
  margin: 10px;
  text-align: left;
  width: auto;
  padding: 10px;
  border: none;
  background: none;
  box-sizing: border-box;
  color: #0044cc;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.nav-button:hover {
  background-color: #0044cc;
  color: white;
 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  
  width: auto;
}

.update-plate {
  width: 100%;
  padding: 2rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}



.popup-text{
  color: black;
}



.warning-text {
  color: red;
}

.warehouse-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 80vh;
  overflow-y: auto;
  padding-right: 10px;
  margin-top: 5%;
}



.section {
  margin-left: 0%; 
  
}

.sub-section {
  margin-left: 30%; 
  width: 100%;
}

.sub-sub-section {
  margin-left: 60%;
  width: 40%;
}

h2 {
  margin: 0;
  padding: 5px;
  justify-content: left;
  text-align: left;
  text-decoration: underline;
}

h3, h4 {
  margin: 0;
  padding: 5px;
  justify-content: left;
  text-align: left; 
}

.create-warehouse-button {
  flex: 1;
  text-align: center;
  padding: 10px 20px;
  font-size: 1rem;
  color: #0044cc; 
  background-color: white;
  border: 2px solid #0044cc;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: background-color 6.3s, color 0.5s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease-in-out;
}

.create-warehouse-button:hover {
  background-color: #0044cc;
  color: white;
  box-shadow: 0 8px 12px rgba(0, 0, 0, .015), 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 10px;
}

.button-row {
  display: flex;
  justify-content: space-between; 
  width: 100%; 
  max-width: 600px; 
  gap: 10px; 
}


.MI-text {
  display: flex;
  color: #333;
  flex-direction: column;
  align-items: center;
}


/* ====================    this is for the desktop table in manage inv  =========== */


.desktop-view {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  table-layout: fixed;
}

thead {
  background-color: #007bff;
  color: #fff;

  top: 0;
 
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  
}

th {
  font-weight: bold;
  text-transform: uppercase;
}

.active-sort {
  background-color: #061c96;
  color: #ffffff;
}

tbody tr:hover {
  background-color: #f9f9f9;
}

/* this guy makes the stripey effect on the table */
tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Button styles */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 5px;
}

button:hover {
  background-color: #0056b3;
}

.help {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.help h1 {
  color: #0056b3;
  font-size: 2em;
  margin-bottom: 20px;
}

.help h2 {
  color: #0056b3;
  font-size: 1.5em;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.help h3 {
  color: #0056b3;
  font-size: 1.5em;
  margin-top: 40px;
  margin-bottom: 20px;
}

.help p {
  margin-bottom: 20px;
}

.help strong {
  color: #000;
}


.manage-inventory-add-button {
  font-size: 0.8rem; 
  color: #0044cc; 
  background-color: white;
  border: 2px solid #0044cc;
  border-radius: 4px;
  padding: 0.4rem 0.8rem; 
  margin-bottom: 2%;
  width: 20%; 
  height: 37.5px; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  
}

.responsive-text {
  font-size: 0.8rem;
}

.popup-label {
  display: block;
  text-align: left; 
  font-size: 0.8rem; 
  margin-bottom: 5px; 
}

.popup-input {
  width: 100%; 
  padding: 8px; 
  margin-bottom: 10px; 
  box-sizing: border-box; 
  font-size: 0.9rem; 
}

/* ===================================    mobile below              ================================ */
/* Media Queries for Responsiveness */
@media (max-width: 769px) {
.hamburger-menu {
  display: block;
}

  .form-container {
    padding: 1rem;
  }

  .form-title {
    font-size: 1.2rem;
  }

  .form-subtitle {
    font-size: 0.8rem;
  }

  .form-input {
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  .form-button {
    padding: 0.6rem;
    font-size: 0.9rem;
    color: #0044cc; 
    background-color: white;
    border: 2px solid #0044cc;
    border-radius: 4px;
    
    margin-bottom: 2%;
    
    height: 37.5px; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .form-button:hover {
    background-color: #0044cc;
    color: white;
    box-shadow: 0 8px 12px rgba(0, 0, 0, .015), 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .spa-header {
    
    display: flex;
    align-items: center;
    justify-content: block;
  }

  .nav-list {
    
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    width: 200px;
    color: #0044cc;
    z-index: 1000;
  }

  .nav-list.open {
    display: flex;
  }

  .nav-button {
    font-size: 0.8rem; 
    color: #0044cc; 
    background-color: white;
    border: 2px solid #0044cc;
    border-radius: 4px;
    padding: 0.4rem 0.8rem; 
    
    width: auto; 
    height: 37.5px; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 10px;
  }

  .update-plate {
    
    padding: 1rem;
    margin: 0 auto;
  }

  .manage-inventory-add-button {
    font-size: 0.8rem; 
    color: #0044cc; 
    background-color: white;
    border: 2px solid #0044cc;
    border-radius: 4px;
    padding: 0.4rem 0.8rem; 
    
    width: auto; 
    height: 37.5px; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

/* ==================               this is for the tiles                        ===================== */
.mobile-view {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
  align-items: center;
  width: 100%;
}

.mobile-tile {
  padding: 10px;
  background-color: #dddbdb;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
}

.tile-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 5px;
}

.tile-body {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.more-info-button {
  align-self: flex-end;
}

.search-box {
  margin: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}



}

/* ======================== super small mobile width  =================== */

@media (max-width: 392px) {
  .button-container {
    flex-direction: column;
  }

  .button-row {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .create-warehouse-button {
    flex: 1;
    margin: 5px;
  }

  
}